@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;

  background-color: #ffffff;
  color: #121417;

  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 1px solid transparent;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

@layer components {
  .container {
    width: 320px;
    margin: 0 auto;
    padding: 8px;

    @media screen and (min-width: 576px) {
      width: 576px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 992px) {
      width: 992px;
    }

    @media screen and (min-width: 1440px) {
      width: 1440px;
    }
  }

  .max-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

@layer utilities {
  .header {
    @apply fixed inset-x-0 top-0 z-40 mx-auto  h-[50px]  max-w-full border-b p-3 shadow-xl shadow-blue-500/10;
  }

  .navbar {
    @apply flex justify-between items-center px-3 mx-auto max-w-screen-wide w-full h-auto max-md:hidden bg-transparent;
  }

  .navbar-logo {
    @apply w-[3.5rem];
  }

  .logo-text {
    @apply ml-2 font-montserrat text-lg font-semibold bg-clip-text text-transparent bg-gradient-to-r from-blue-100 via-blue-500 to-blue-800 hover:text-hover-color drop-shadow-[0_2px_1px_rgba(0,0,0,.4)] transition-transform duration-200 ease-in-out;
  }

  .navbar-links {
    @apply max-md:hidden flex justify-center items-center gap-8;
  }

  .navbar-link {
    @apply cursor-pointer px-3 text-sm font-montserrat font-semibold text-label-text hover:text-accent-color border-b-[3px] border-b-transparent transition duration-200 ease-in-out;
  }

  .mobile-hamb {
    @apply block md:hidden;
  }

  .mobile-navbar {
    @apply fixed top-0 left-0 z-[60] flex flex-col justify-center items-center p-10  w-screen h-screen bg-mob-menu shadow-xl transform translate-x-full transition-transform duration-300 ease-in-out;
  }

  .mobile-navbar-menu {
    @apply absolute top-3 right-2 w-[24px] h-[24px] hover:fill-accent-color focus:stroke-accent-color cursor-pointer transition duration-200 ease-in-out;
  }

  .mobile-navbar-close {
    @apply absolute top-3 right-2 w-[24px] h-[24px] stroke-main-text hover:stroke-accent-color focus:stroke-accent-color cursor-pointer transition duration-200 ease-in-out;
  }

  .mobile-navbar-items {
    @apply flex flex-col justify-center items-center gap-[3rem] text-[2.3rem] text-center font-montserrat font-semibold;
  }

  .open-nav {
    @apply left-0 transform translate-x-0 transition duration-200 ease-in-out;
  }

  .cards-list {
    @apply mob:grid md:grid-cols-2 lg:grid-cols-3 wide:grid-cols-4 place-content-center gap-y-[16px] gap-x-[29px] mob:gap-y-[16px] wide:gap-y-[50px];
  }
  .fav-list {
    @apply mob:grid md:grid lg:grid-cols-2 wide:grid-cols-3 place-content-center gap-y-[16px] gap-x-[29px] mob:gap-y-[16px] wide:gap-y-[50px];
  }

  .card {
    @apply relative flex flex-col items-start shrink-0 w-[244px] h-[304px] md:w-[254px] md:h-[406px]  wide:w-[274px] wide:h-[426px];
  }

  .thumb {
    @apply h-[238px] w-[371px] md:h-[248px] md:w-[381px] lg:h-[258px] lg:w-[391px] wide:h-[268px] wide:w-[401px];
  }

  .card-image {
    @apply w-full h-full rounded-[14px] shrink-0 object-cover bg-bg-img;
  }

  .title-card {
    @apply flex justify-between items-center text-main-text font-medium;
  }

  .title-accent {
    @apply text-accent-color wide:text-[16px] lg:text-[14px] font-medium;
  }

  .card-info-block {
    @apply flex w-full;
  }

  .text-description {
    @apply text-secondary-text;
  }

  .vector {
    @apply mx-[6px] text-vector-color;
  }

  .heart {
    @apply absolute top-[14px] right-[14px] z-20 w-[18px] h-[18px] cursor-pointer bg-transparent fill-transparent stroke-hearts-color hover:fill-accent-color focus:stroke-accent-color transition duration-200 ease-in-out;
  }

  .favorite {
    @apply fill-accent-color stroke-accent-color;
  }

  .select-label {
    @apply mb-2 text-label-text text-[14px] font-medium leading-tight;
  }

  .card-big-button {
    @apply flex justify-center items-center shrink-0 w-[244px] md:w-[254px] wide:w-[274px] wide:h-[44px] py-3 wide:px-[6.1875rem] px-3 bg-accent-color hover:bg-hover-color focus:bg-hover-color text-white rounded-[.75rem] outline-none transition duration-200 ease-in-out;
  }

  .small-button {
    @apply flex justify-center items-center shrink-0 w-[168px] h-[44px] py-3 px-[50px] bg-accent-color hover:bg-hover-color focus:bg-hover-color text-white rounded-[.75rem] outline-none transition duration-200 ease-in-out;
  }

  .button-search {
    @apply flex justify-center items-center shrink-0 w-[136px] h-[48px] py-[14px] px-[44px] bg-accent-color hover:bg-hover-color focus:bg-hover-color text-white rounded-[.75rem] outline-none transition duration-200 ease-in-out;
  }

  .button-load {
    @apply block my-0 mx-auto mt-[100px] bg-transparent text-accent-color hover:text-hover-color focus:text-hover-color text-[16px] font-medium underline rounded-none outline-none transition duration-200 ease-in-out;
  }

  .select-brand {
    @apply flex justify-between items-center space-x-[2rem] py-[14px] pr-[89px] pl-[18px] w-[224px] h-[48px] bg-input-color text-input-text border-none rounded-[.875rem] outline-none transition duration-200 ease-in-out;
  }

  .select-price {
    @apply flex justify-between items-center space-x-[2rem] py-[14px] px-[18px] w-[125px] h-[48px] bg-input-color text-input-text border-none rounded-[.875rem] outline-none transition duration-200 ease-in-out;
  }

  .select-from {
    @apply flex justify-between items-center space-x-[2rem] py-[14px] pr-[93px] pl-[24px] w-[160px] h-[48px] bg-input-color text-input-text border-none rounded-l-[14px] rounded-r-none outline-none transition duration-200 ease-in-out;
  }

  .select-to {
    @apply flex justify-between items-center space-x-[2rem] py-[14px] pr-[115px] pl-[24px] w-[160px] h-[48px] bg-input-color text-input-text border-none rounded-l-none rounded-r-[14px] outline-none transition duration-200 ease-in-out;
  }

  .padding {
    @apply sm:px-24 py-12 wide:p-[128px];
  }

  .form {
    @apply flex items-end space-x-[18px] mb-[50px];
  }

  .backdrop {
    @apply fixed z-[100] w-screen h-screen top-0 left-0 bg-backdrops-bg overscroll-contain;
  }

  .modal {
    @apply absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-[110]  p-[40px] w-[541px] min-h-[752px] bg-modal-bg rounded-[24px];
  }

  .close {
    @apply absolute top-[16px] right-[16px] z-[110] w-[24px] h-[24px] stroke-main-text hover:stroke-accent-color focus:stroke-accent-color cursor-pointer transition duration-200 ease-in-out;
  }

  .modal-car {
    @apply mb-[14px] object-cover object-center rounded-[14px] bg-bg-img;
  }

  .modal-title {
    @apply mb-2 text-main-text text-[18px] font-medium leading-6;
  }

  .modal-accent-title {
    @apply mb-2 text-accent-color text-[18px] font-medium leading-6;
  }

  .modal-description {
    @apply text-secondary-text;
  }

  .modal-accent-descr {
    @apply mb-[24px] text-main-text text-[14px] leading-5;
  }

  .modal-second-title {
    @apply mb-[8px] text-main-text text-[14px] font-medium leading-5;
  }

  .modal-cond-block {
    @apply flex flex-wrap justify-start items-center mb-[24px];
  }

  .modal-btn-cond {
    @apply flex justify-center items-center py-[7px] px-[14px] mb-[8px]  w-auto h-[32px] bg-cond-bg rounded-[35px] transition duration-200 ease-in-out;
  }

  .cond {
    @apply text-cond-text font-montserrat text-[12px] font-normal leading-5 tracking-tightest;
  }

  .modal-accent-cond {
    @apply ml-1 text-accent-color font-montserrat text-[12px] font-[600] leading-5 tracking-tightest;
  }

  .modal-btn-link {
    @apply inline-flex justify-center items-center py-[12px] px-[50px] w-[168px] h-[44px] rounded-[12px] bg-accent-color hover:bg-hover-color focus:bg-hover-color text-btn-text text-[14px] font-[600] leading-5;
  }
}

.home-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/bg-hero-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.fav-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/fav-bg-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.accordion-title {
  position: relative;
  transform: translate3d(0, 0, 0);
  margin-bottom: -1px;
  padding: 30px 30px;
  cursor: pointer;
  color: secondary-text;
  font-size: 14px;
  background: #e3f0fa;
  border-bottom: 2px solid #ffffff;
  text-align: left;
}

.accordion-title::after {
  position: absolute;
  right: 30px;
  content: '+';
  font-size: 18px;
  color: secondary-text;
  transition: transform 0.5s ease-in-out;
}

.accordion-title.is-expanded {
  transition: background-color 0.5s;
  background: #3470ff;
  color: #ffffff;
}

.accordion-title.is-expanded::after {
  content: '-';
  transform: rotate(-360deg);
}
.accordion-content {
  transition: max-height 0.5s;
  margin: 0;
  padding: 0 30px;
  border: solid 1px #eee;
  border-top: 0;
  background: #e8f4fc;
}

.content.is-expanded {
  max-height: 500px;
}
